
@{
    ViewData["Title"] = "CreatePage";
}

    <div class="d-flex justify-content-between">
        <div class="w-25 p-2">
            <div class="sidebar-heading">Content Block</div>
            <div class="list-group list-group-flush">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Template Selection
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Template 1</a>
                        <a class="dropdown-item" href="#">Template 2</a>
                        <a class="dropdown-item" href="#">Template 3</a>
                    </div>
                </div>
                <a href="#" class="list-group-item list-group-item-action bg-light">Title</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Paragraph block</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Square Image</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Circle Image</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Video</a>
            </div>
        </div>
        <div class="w-50 p-2 align-self-stretch text-white bg-dark">


            <p>
                .
            </p>

        </div>
        <div class="w-25 p-2">
            <div class="sidebar-heading">Content</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Lorem Ipsum</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Some Image</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Some Video</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Place Holder Text</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Profile Picture</a>
            </div>
        </div>

    </div>
</div>
