

@{
    ViewData["Title"] = "CreatePage";
}

<style>

    #divNew {
        float: left;
        width: 250px;
        height: 250px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    #divDelete {
        background-color: red;
        float: left;
        width: 250px;
        height: 250px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .divLong {
        float: left;
        width: 200px;
        height: 400px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .divWide {
        float: left;
        width: 400px;
        height: 200px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .divSm {
        float: left;
        width: 200px;
        height: 200px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .divMd {
        float: left;
        width: 400px;
        height: 400px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .divLg {
        float: left;
        width: 800px;
        height: 800px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }
</style>

<div class="d-flex">
    <div class="w-25 p-2">
        <div class="sidebar-heading">Content Block</div>
        <div class="list-group list-group-flush">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Template Selection
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Template 1</a>
                    <a class="dropdown-item" href="#">Template 2</a>
                    <a class="dropdown-item" href="#">Template 3</a>
                </div>
            </div>
            <button onclick="createTitle()" class="list-group-item list-group-item-action bg-light">Title</button>
            <button onclick="createSubTitle()" class="list-group-item list-group-item-action bg-light">Sub Title</button>
            <button onclick="createPara()" class="list-group-item list-group-item-action bg-light">Paragraph block</button>
            <a href="#" class="list-group-item list-group-item-action bg-light">Square Image</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Video</a>
        </div>
        <div id="divNew" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div class="w-50 p-2 align-self-stretch text-white bg-dark">

        <h2>Drag and Drop</h2>
        <p>Drag the image back and forth between the two div elements.</p>
        <div id="divBody" class="container" ondrop="drop(event)" ondragover="allowDrop(event)" >
            <div class="divWide" id="d0" ondrop="dropDelete(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">
                <h2 id="drag0" draggable="true" ondragstart="drag(event)"> Title Temp</h2>
            </div>
            
        </div>
    </div>
    <div class="w-25 p-2">
        <div class="sidebar-heading">Content</div>
        <div class="list-group list-group-flush">
            <button onclick="createDiv('Sm')" class="list-group-item list-group-item-action bg-light">Small</button>
            <button onclick="createDiv('Md')" class="list-group-item list-group-item-action bg-light">Medium</button>
            <button onclick="createDiv('Lg')" class="list-group-item list-group-item-action bg-light">Large</button>
            <button onclick="createDiv('Long')" class="list-group-item list-group-item-action bg-light">Long</button>
            <button onclick="createDiv('Wide')" class="list-group-item list-group-item-action bg-light">Wide</button>
        </div>
        <div id="divDelete" ondrop="dropDelete(event)" ondragover="allowDrop(event)">
            <center>
                <h4>Delete</h4>
            </center>
        </div>
    </div>
</div>


<script>

    var dragCount = 1;
    var divCount = 1;

    function dropDelete(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        document.getElementById(data).remove();

    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

    function createDiv(type) {
        var addNew = document.getElementById('divBody');
        var d = document.createElement("div");

        d.className = "div" + type;
        d.id = "d" + divCount;
        d.draggable = "true";
        d.addEventListener('dragstart', function () { drag(event) }, false);
        d.addEventListener('ondragover', function () { allowDrop(event) }, false);
        d.addEventListener('ondrop', function () { drop(event) }, false);
        addNew.append(d);
        divCount++;
    }

    function createPara() {
        var addNew = document.getElementById('divNew');
        var p = document.createElement("p");

        p.id = "drag" + dragCount;
        p.draggable = "true";
        p.addEventListener('dragstart', function () { drag(event) }, false);
        addNew.append(p);
        p.innerText = "Some Text For A Para";
        dragCount++;
    }

    function createTitle() {
        var addNew = document.getElementById('divNew');
        var p = document.createElement("h2");

        p.id = "drag" + dragCount;
        p.draggable = "true";
        p.addEventListener('dragstart', function () { drag(event) }, false);
        addNew.append(p);
        p.innerText = "Title";
        dragCount++;
    }

    function createSubTitle() {
        var addNew = document.getElementById('divNew');
        var p = document.createElement("h4");

        p.id = "drag" + dragCount;
        p.draggable = "true";
        p.addEventListener('dragstart', function () { drag(event) }, false);
        addNew.append(p);
        p.innerText = "Sub Title";
        dragCount++;
    }




</script>
<!--
    p.id="drag2"
    p.draggable="true"
    p.ondragstart="drag(event)"
    var p = document.createElement("p", [id = "drag1", draggable = "true", ondragstart = "drag(event)"])
    <h1 id="drag1" draggable="true" ondragstart="drag(event)"> SOME WORD</h1>
    "<p id='drag1' draggable='true' ondragstart='drag(event)'>"

    -->
