@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-left">
    <div>
        <h2>Site Management</h2>
        <pre>     Create a site</pre>
        <div class="d-flex flex-row">
            <pre>     Modify a Site         </pre>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Temp 1</a>
                    <a class="dropdown-item" href="#">Temp 2</a>
                    <a class="dropdown-item" href="#">Temp 3</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <pre>     Delete a Site         </pre>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Temp 1</a>
                    <a class="dropdown-item" href="#">Temp 2</a>
                    <a class="dropdown-item" href="#">Temp 3</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Page Management</h2>
        <!--<pre>     Create a Page</pre>-->
        <div class="d-flex flex-row">
            <pre>   </pre>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreatePage">Create Page</a>
        </div>
        <div class="d-flex flex-row">
            <pre>     Modify a Page         </pre>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Temp 1</a>
                    <a class="dropdown-item" href="#">Temp 2</a>
                    <a class="dropdown-item" href="#">Temp 3</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <pre>     Delete a Page         </pre>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Temp 1</a>
                    <a class="dropdown-item" href="#">Temp 2</a>
                    <a class="dropdown-item" href="#">Temp 3</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Share a Site</h2>
        <div class="d-flex flex-row">
            <pre>     Generate Site Link    </pre>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Temp 1</a>
                    <a class="dropdown-item" href="#">Temp 2</a>
                    <a class="dropdown-item" href="#">Temp 3</a>
                </div>
            </div>
        </div>
    </div>
</div>